/*color scheme
yellow?!: #feda6a
Silver: #d4d4dc
Deep Matte Grey: #393f4d
Dark Slate: #1d1e22 */



/* look for the whole page */
#body {
  background-color: #1d1e22;
  color: #feda6a;
  font-family: monospace;
  font-size: 15px;
}

#taskList {
  padding: 70px;

}

#taskInput {
  background-color: #1d1e22;
  color: #feda6a;
  font-family: monospace;
  font-size: 15px;
  border-style: none;
  width: 75%;
}

#taskUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.taskLI {
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.taskLI.completed {
  text-decoration: line-through;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
