/*color scheme
yellow?!: #feda6a
Silver: #d4d4dc
Deep Matte Grey: #393f4d
Dark Slate: #1d1e22 */

/* look for the whole page */
#body {
  background-color: #1d1e22;
  color: #feda6a;
  font-family: monospace;
  font-size: 15px;
  height: 100vh;
}

#taskList {
  padding: 70px;

}

#taskInput {
  background-color: #1d1e22;
  color: #feda6a;
  font-family: monospace;
  font-size: 15px;
  border-style: none;
  width: 75%;
}

#taskUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.delBtn{
  float: right;
  cursor: pointer;
}

.checkedBtn{
  float: right;
  cursor: pointer;
  padding-right: 7px;
}

.list-item{
  padding-right: 23%;
}

.taskCompleted {
  text-decoration: line-through;
}

/* keeping the footer at the bottom of the page*/
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}

/*footer link static - does not change on hover */
.footerLink {
  color: #feda6a;
  text-decoration: underline;
  background-color: #212529;
}

.footerLink:hover {
  color: #feda6a;
  text-decoration: underline;
  background-color: #212529;
}
